body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #000000;
}



header {
  height: 90px;
  background-color: white;
  background-color: #5a5a5a;
}

header h1 {
  text-align: center;
  color: white;
}

nav {
  z-index: 10;
  background-color: #ffffff;
}

.nav {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-flow: row;
}

.nav li {
  position: relative;
  list-style: none;
}

.nav li a {
  display: block;
  height: 40px;
  width: 150px;
  text-align: center;
  color: #000000;
  font-size: 14px;
  line-height: 2.8;
  background: #cccccc;
  text-decoration: none;
  border-right: 1px solid #5a5a5a;
  box-sizing: border-box;
}

.nav li.subject-index{
  margin-left: auto;
}

.nav > li:hover > a {
  color: #5a5a5a;
  background: #ffffff;
}

.nav > li li:hover > a {
  color: #5a5a5a;
  background: #ffffff;
}

.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}

.nav li ul li {
  overflow: hidden;
  height: 0;
}

.nav li ul li a {
  border-top: 1px solid #000000;
}

.nav li ul .long{
  font-size: 11px;
}

.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}

.content {
  width: 750px;
  height: 200px;
  background: #eee;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

.content {
  width: 750px;
  height: 200px;
  background: #eee;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

main {
  position: relative;
  background-color: #000000;
  height: 1000px;
}

main h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
  color: #ffffff;
}

footer {
  background: 1px rgb(83, 83, 83);
}

footer p {
  color: white;
  text-align: center;
}

ul {
  text-align: center;
  display: inline-block;
  text-align: left;
}

.usage {
  margin-left: 10px;
}
