header h3 {
  text-align: center;
}

nav {
  display: flex;
}

ul {
  text-align: left;
}

.Usage {
  margin-left: 10px;
}

main h1 {
  text-align: center;
}

.hidden_menu input {
  display: none;
}

.hidden_menu .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}

.hidden_menu input:checked ~ .hidden_show {
  height: auto;
  opacity: 1;
}

