body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #000000;
}



header{
  height: 90px;
  background-color: white;
  text-align: center;
  background-color: #5a5a5a;
}

header h3 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-style: arial;
}

nav {
  z-index: 10;
  background-color: #ffffff;
}

.nav-container{
  left: 0;
  top: 0;
  width: 100%;
}

.nav {
  width: 750px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-flow: row;
}
.nav li {
  position: relative;
  list-style: none;
}
.nav li a {
  display: block;
  height: 40px;
  width: 150px;
  text-align: center;
  color: #000000;
  font-size: 14px;
  line-height: 2.8;
  background: #cccccc;
  text-decoration: none;
  border-right: 1px solid #5a5a5a;
  box-sizing: border-box;
}
.nav li.subject-index{
  margin-left: auto;
}

.nav > li:hover > a {
  color: #5a5a5a;
  background: #ffffff;
}
.nav > li li:hover > a {
  color: #5a5a5a;
  background: #ffffff;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
}
.nav li ul li a {
  border-top: 1px solid #000000;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
.nav li ul li ul {
  height: 40px;
  top: 0;
  left: 110px;
}
.nav li ul li ul:before {
  position: absolute;
  content: "";
  top: 15px;
  left: 30px;
  border: 5px solid transparent;
  border-left: 5px solid #ffffff;
}
.nav li ul li ul li:hover > a {
  color: #5a5a5a;
  background: #dddddd;
}






.content {
  width: 750px;
  height: 200px;
  background: #eee;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}




.content {
  width: 750px;
  height: 200px;
  background: #eee;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}



main{
  z-index: 0;
  min-height: 100%;
  background-color: #000000;
}

main h1{
  text-align: center;
  color: #ffffff;
}

footer {
  background: 1px rgb(83, 83, 83);
  margin-top: auto;
}

footer p {
  color: white;
  text-align: center;
}



ul {
  text-align: center;
  display: inline-block;
  text-align: left;
}


.usage {
  margin-left: 10px;
}
