body {
  background: rgb(233, 233, 233);
}

header {
  margin: 50px;
  background-color: white;
  text-align: center;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0 30px;
  background: white;
}

h2 {
  text-align: center;
}

img{
  max-width: 640px;
  height: auto;
}

.imgbox1{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px;
}
.imgbox1 p{
  max-width: 280px;
}
.imgbox1 img{
  max-width: 280px;
  height: auto;
}
