body {
  background: rgb(233, 233, 233);
}

a {
  text-decoration: none;
}

nav { 
  display: block;
}

header {
  margin: 30px 50px 30px 50px;
  background-color: white;
  text-align: center;
  background: 1px rgb(83, 83, 83);
}

header h3 {
  color: white;
  padding: 10px;
}

ul {
  display: block;
  text-align: center;
  list-style: none;
}

li {
  display: inline-block;
  text-align: left;
}

li a {
  color: rgb(58, 58, 58);
}


.main-border {
  border-bottom: 1px solid gray;
  margin: 10px 10px;
}




main {
  margin-left: 50px;
  margin-right: 50px;
  padding:  30px;
  background: white;
}




h2 {
  text-align: center;
}

img{
  max-width: 640px;
  height: auto;
}

.imgbox1{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px;
}
.imgbox1 p{
  max-width: 280px;
}
.imgbox1 img{
  max-width: 280px;
  height: auto;
}



footer {
  background: 1px rgb(83, 83, 83);
  margin: 0 50px 0 50px;
}

footer p {
  color: white;
  text-align: center;
}
